<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluacion Final Inesppino</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
    integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  
  <div class="page">
    <partial src="_header.html" label="Header"></partial>

    <main>
      <partial src="_hero.html" label="Hero"></partial>

      <partial src="_main.html" label="Main"></partial>
    </main>

    <footer>
      <partial src="_footer.html" label="Footer"></partial>
    </footer>

  </div>

</body>
</html>
