
//Colors
$color-primary: #fff; 
$color-secondary: black;
$color-tertiary: #4a4a4a;
$color-theme: #f26002;

//Fonts
$title-font: 'Roboto Slab', serif;
$text-font: 'Roboto', sans-serif;
$component-font: 'Roboto', sans-serif;

// @mixin title-font {
//   font-family: 'Roboto Slab', serif;
//   font-weight: bold;
// }

